body {
	font-family: Avenir;
}

#graphbox {
	width: 1000px;
	height: 800px;
	border: 1px solid black;
	position: absolute;
	top: 10px;
	left: 10px;
}

#detailbox {
	width: 320px;
	height: 800px;
	border: 1px solid black;
	position: absolute;
	top: 10px;
	left: 1020px;
	padding: 10px;
}

#nodeeditbox {
	border: 1px solid black;
	padding: 5px;
}


#detailbox div.title {
	width: 300px;
	font-weight: bold;
	margin-bottom: 10px;
}

#detailbox div.subtitle {
	width: 300px;
	font-size: 0.9em;
	margin-bottom: 10px;
}

#nodeeditbox div.citekey {
	width: 300px;
	text-align: center;
}

div.featurebox {
	width: 300px;
	height: 25px;
	padding-top: 5px;
}

.featuretitle {
	width: 80px;
	font-size: 0.8em;
	text-align: right;
	position: absolute;
}

input.featureinput {
	width: 200px;
	position: absolute;
	left: 100px;
}

div.commentbox {
	width: 300px;
	height: 120px;
}
/*
.commentbox .commentsave {
	left: 90px;
	width: 40px;
	top: -105px;
	position: relative;
}*/

.commentbox .commentarea {
	width: 300px;
	height: 90px;
	top: 20px;
	position: relative;
}

.node {
	font-weight: normal;
}

.node.selected {
	font-weight: bold;
  /*stroke: #00f;
  /*stroke-width: 2px;*/
}

.link {
  stroke: #999;
  stroke-opacity: .6;
  stroke-width: 1;
}

.link.selected {
  stroke: #009;
  stroke-width: 3;
}

svg text {
	font-size: 0.8em;
	fill: black;
	/*stroke: none;*/
	text-anchor: middle;
	alignment-baseline: middle;
	paint-order: stroke;
  stroke: #fff;
  /*stroke-width: 1.5px;*/
  stroke-opacity: 0.5;
  stroke-width: 3;
}

svg rect {
	text-anchor: middle;
	alignment-baseline: middle;
}

.arrowhead {
	fill: black;
  	opacity: .4;
}

.selected .arrowhead {
  	opacity: .8;
}

#graphmenu {
	left: 0px;
	top: 0px;
	width: 300px;
	height: 100px;
	position: absolute;
}

