.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

svg text {
	font-size: 1em;
	fill: black;
	stroke: none;
	text-anchor: middle;
	alignment-baseline: middle;
}

svg rect {
	text-anchor: middle;
	alignment-baseline: middle;
}

#toolbar {

}
/*
g text {
  fill: black;
}*/
