html {
  background-image: url("//media.readcube.com/epdf/preloader-64.gif");
  background-color: #D3D6DC;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
  height: 100%;
  width: 100%;
}